<form method="post" action="{{ path('app_users_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">

	<h2>Etes-vous vraiment sûr(e) de bien vouloir supprimer votre compte?</h2>
	<h3>Cette action est irrémédiable.</h3>
	<p>En cas de doute, informez l'administrateur du site.</p>
	<button class="btn btn-danger btn-lg">Suppression du compte!</button>

</form>
