{% extends 'base.html.twig' %}

{% block title %}Validation des instructeurs
{% endblock %}

{% block body %}
	<h1>Validation par l'administrateur</h1>

	{{ include('pages/users/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_users_index') }}">back to list</a>

	{{ include('pages/users/_delete_form.html.twig') }}
{% endblock %}
