{% extends 'base.html.twig' %}

{% block title %}Edit Sections
{% endblock %}

{% block body %}
	<h1>Edit Sections</h1>

	{{ include('pages/sections/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_sections_index') }}">back to list</a>

	{{ include('pages/sections/_delete_form.html.twig') }}
{% endblock %}
