{% extends 'base.html.twig' %}

{% block title %}Edit Directories
{% endblock %}

{% block body %}
	<h1>Edit Directories</h1>

	{{ include('pages/directories/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_directories_index') }}">back to list</a>

	{{ include('pages/directories/_delete_form.html.twig') }}
{% endblock %}
