{% extends 'base.html.twig' %}

{% block title %}New Directories
{% endblock %}

{% block body %}
	<h1>Create new Directories</h1>

	{{ include('pages/directories/_form.html.twig') }}

	<a href="{{ path('app_directories_index') }}">back to list</a>
{% endblock %}
