{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur ECOIT</h1>

			<p class="lead">Devenir la référence française pour les développeurs soucieux de leur impact digital. Voilà notre défi!</p>
			<hr class="my-4">

			<img id="computer" src="{{ asset('assets/images/computer.jpg')}}" alt="computer and nature" style="max-width: 35rem;" class="mx-auto d-block">


			<p class="mt-4">C’est un fait, la crise écologique est devenue une urgence majeure. La sixième extinction
																																																																																																																								massive a déjà commencé et le changement climatique se fait de plus en plus ressentir au fil
																																																																																																																								des années. Mais qu’en est-il d’internet ?
																																																																																																																								En matière d’émissions de CO2, il pollue 1.5 fois plus que le transport aérien. D’ailleurs, en 20
																																																												ans, le poids d’une page web a été multiplié par 115 (source :
				<a href="https://www.greenit.fr/">https://www.greenit.fr/</a>

				).
																																																												
																																																																																																																								Face à ce constat, un organisme de formation a été fondé en 2017 : EcoIT. Son objectif est
																																																																																																																								d’être une plateforme d’éducation permettant à tout instructeur expert en accessibilité et en
																																																																																																																								éco-conception web de présenter des modules de cours.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>

			<div class="container mt-4">
				<p>Vous souhaitez rejoindre nos équipes, alors inscrivez-vous rapidement!</p>
				<a class="btn btn-primary btn-lg" href="{{ path('app_register') }}">Inscription Instructeur</a>

			</div>

			<div class="container mt-4">
				<p>Vous voulez suivre une de nos formations, c'est très facile!</p>

				<a class="btn btn-primary btn-lg" href="#">Inscription Apprenant</a>
			</div>


		</div>
	</div>
{% endblock %}
