{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<div class="container mt-4">
		<h1>Bienvenue sur l'administration du site</h1>

		<p></p>


		<p>Si vous souhaitez valider la candidature d'un instructeur:</p>

		<p>1/ Rendez-vous sur la rubrique "Utilisateurs"
		</p>

		<p>2/ 	Triez en cliquant sur la rubrique Roles, rechechez "ROLE_USER"</p>

		<p>3/ valider sur le bouton "Is Verified".</p>
		<p>4/ A droite, cliquer sur les ... puis edit</p>
		<p>5/ Dans Roles +Add a new item</p>
		<p>6/ Inscrivez ROLE_INSTRUCTOR</p>
		<p>7/ Cliquez sur "Save Changes"</p>

	</div>


{% endblock %}
