{% extends 'base.html.twig' %}

{% block title %}Modifier une formation
{% endblock %}

{% block body %}
	{# {% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %} #}

	<div class="container mt-4">
		<h1>Modification de la formation</h1>

		{{ include('pages/formations/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a class="btn btn-secondary btn-lg" href="{{ path('app_formations_index') }}">Retour à la liste</a>


		{{ include('pages/formations/_delete_form.html.twig') }}</div>


{% endblock %}
